header {
    width: 100%;
    height: 80px;
    background-color: $yellow;
    display: flex;
    justify-content: space-around;
    
    .header-container{
        display: flex;
        align-items: center;
        width: 55%;

        img{
            margin-top: 5px;
            margin-right: 20px;
            
            &:hover{
                cursor: pointer;
            }
        }
    }
}