.line-separator{
    border-bottom: 1px solid $gray3;
    width: 95%;
    margin: auto;
}

.breadcrumb{
    display: flex;
    margin: auto;
    width: 55%;
    margin-top: 16px;
    margin-bottom: 16px;
}