@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap");

html, body{
    margin: 0;
}

body{
    background: $gray3;
}

html {
    font-family: "Open Sans", sans-serif;
}